<nav>
    <div class="container">
        <div class="u-pull-left title">
            Retch.js
        </div>
        <div class="hamburger u-pull-right">
            <a>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </div>
        <ul class="u-pull-right">
            {{#each navigation}}
                {{ navLink text url name}}
            {{/each}}
        </ul>
    </div>
</nav>