$body-background: rgb(255, 255, 255);
$body-text: rgb(16, 16, 16);
$nav-background-full: rgba(0, 0, 0, 1);
$nav-background-hover: rgba(255, 255, 255, .3);
$nav-text: rgb(196, 196, 196);
$title-text: rgb(255, 255, 255);
$nav-text-hover: rgb(255, 255, 255);
$nav-height: 50px;
$nav-height-mobile: 40px;
$nav-active-background: rgba(32, 32, 32, .1);
$nav-border-color: rgb(220, 220, 220);
$nav-shadow: rgba(0, 0, 0, .8);
$error-background: rgb(160, 10, 0);
$error-text: rgb(255, 230, 230);
$message-background: rgb(10, 160, 0);
$message-text: rgb(230, 255, 230);
$mobile-break: 720px;
