@import 'vars';
@import '../../node_modules/skeleton-scss/scss/skeleton';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import 'navigation';

body {
  background: $body-background;
  color: $body-text;
}

.content {

  margin-top: 4.5em;
  z-index: 100;

}

nav {
  top: 0;
}
